{% extends 'App1/base.html' %}

{% block content %}

  <div class="top-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="left-top">
            <div class="email-box">
             							<a href="mailto:contact@codingadda.com"><i class="fa fa-envelope" aria-hidden="true"></i>contact@codingadda.com</a>
            </div>
            <div class="phone-box">
              <a href="tel:06394204262"><i class="fa fa-phone" aria-hidden="true"></i>+91 63942042621</a>
            </div>

            <div class="drop-box">
              <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}