{% extends 'App1/base.html' %}
{% block content %}
  <!--============================================================== Top Bar ===================================================-->
{% include 'App1/abovenav.html' %}

{% comment %} including the navbar  {% endcomment %}
  {% include 'App1/navbar.html' %}



    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">
Hello, Welcome to</div>
<div class="text-2">
CODING ADDA</div>
<div class="text-3">
We are happy to help you <span class="typing"></span></div>
<a href="#">Get Started</a>
            </div>
</div>
</section>
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">
About Us</h2>
<div class="about-content">
                <div class="column left">
                    <img src="C:\Users\chaud\OneDrive\Desktop\ITPROJECT/IMG_20210117_172951.jpg" alt="">
                </div>
<div class="column right">
                    <div class="text">
We are <span class="typing-2"></span></div>
<p>
We are full stack web developers from Meerut,India. We had worked on many projects in the last year and still working on them. Internet and UI/UX designing, web designing are my passion and I believe in helping people with my abilities and knowledge. I am learning these things from the last 1 years and it feels like learning is a part of my life now. I have a Youtube channel also where I'm uploading web design, UI/UX design,which make this experience even more interesting.</p>
<a href="#">Contact Us</a>
                    </div>
</div>
</div>
</section>
    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">
Our Specialized Field Of Work</h2>
<div class="serv-content">
                <div class="card">
                    <div class="box">
                        <i class="fas fa-paint-brush"></i>
                        <div class="text">
Web Designing</div>
<p>
Web design encompasses many different skills and disciplines in the production and maintenance of websites.</p>
</div>
</div>
<div class="card">
                    <div class="box">
    <i class="fa fa-globe" aria-hidden="true"></i>
                        <div class="text">
Full Stack Web Development</div>
<p>
Responsive web design is an approach to web design that makes web pages render well on a variety of devices and window or screen sizes from minimum to maximum display size. </p>
</div>
</div>
<div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="text">
UI/UX Design</div>
<p>
User interface design or user interface engineering is the design of user interfaces for machines and software, such as computers, home appliances, mobile devices, and other electronic devices, with the focus on maximizing usability and the user experience. </p>
</div>
</div>
<div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="text">
Logo Design</div>
<p>
Logo design is a criteria in which we design logo for different ompanies, Organisations on basis of their requirements </p>
</div>
</div>
<div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="text">
Portfolio Making</div>
<p>
Portfolio Making is a criteria in ehich we make different portfolios for companies so that they can develop on their level best </p>
</div>
</div>
<div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="text">
Machine Learning</div>
<p>
Machine Learning is a criteria where we provide deep study about data sorces that they can develop on their level best </p>
</div>
</div>
</div>
</div>
</div>
</section>
    <section class="skills" id="skills">
        <div class="max-width">
            <h2 class="title">
Our skills</h2>
<div class="skills-content">
                <div class="column left">
                    <div class="text">
Our Creative Skills</div>
<p>
<ol>
<li>Responsive Website</li>
<li>Responsive Portfolios</li>
<li>Neumorphism Login</li>
<li>Neumorphism Clock dark/light</li>
<li>Glassmorphism Profile card</li>
<li>Css Box Design</li>
<li>College website</li>
</ol>

</p>
</section>

{% include 'App1/footer.html' %}
{% endblock %}
